header {
    border: 2px solid rgb(214, 214, 65);
}
.container-fluid {
    background-color: rgb(237, 213, 177);
}

.hero-container {
    background-image: url('https://as2.ftcdn.net/v2/jpg/01/82/88/45/1000_F_182884554_QwMxZ85UlvwBq6YrJCcTJKPlB2sxwlWC.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    justify-content:center;
    align-items: center;
}

h1 {
    color: rgb(103, 139, 103);
    background-color: rgb(226, 238, 238);
    opacity: 0.8;;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
}
aside {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgba(203, 203, 182, 0.741);
}

.card {
    height: auto;
    color:rgb(103, 139, 103)
}

.text-container {
    padding: 10px; 
    background-color: rgb(237, 213, 177);
    height: auto;
    
    

}
.form-control {
    border: 3px solid rgb(190, 125, 125);
    background-color: rgb(218, 183, 132);
    margin-top: 0px;
    
}